.vjs-swarmify-theme {
	color: #ccc !important;
}

.vjs-swarmify-theme .vjs-control-bar {
    text-align: center !important;
    background-color: rgba(7,20,30,.7) !important; 
}
.vjs-swarmify-theme .vjs-volume-bar.vjs-slider {
    margin-top: 10px !important;
}

.vjs-swarmify-theme .vjs-slider {
	background-color: rgba(51,51,51,.9) !important;
}

.vjs-swarmify-theme.smartvideo-player .vjs-volume-level, 
.vjs-swarmify-theme.smartvideo-player .vjs-play-progress, 
.vjs-swarmify-theme.smartvideo-player .vjs-slider-bar {
    background: rgba(196,196,196,.8) !important;
}

.vjs-swarmify-theme .vjs-menu-button .vjs-menu .vjs-menu-content {
	background-color: rgba(7,20,30,.7) !important;
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 10em;
    bottom: 1.5em;
    max-height: 15em;
    overflow: auto;
    left: -5em;
    background-color: #07141e;
    background-color: rgba(7,20,30,.7);
    box-shadow: -.2em -.2em .3em rgba(255,255,255,.2);
}

.vjs-swarmify-theme .vjs-swarmify-signal-icon .signal-popup .signal-title {
    color: #ccc;
    font-weight: 700;
    font-size: larger;
    margin: .5em;
}

.vjs-swarmify-theme .signal-on-text {
    color: rgba(255,222,23,.8);
    font-weight: 700;
    font-size: x-large;
}

.vjs-swarmify-theme .signal-off-text {
    color: #ccc;
    font-weight: 700;
    font-size: x-large;
}

/* smartvideo icon */
li.smartvideo_divi_module:before {
    content: ""!important;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMS4wMiAxMTYuMTgiPjx0aXRsZT5QbGF5IEljb248L3RpdGxlPjxwYXRoIGQ9Ik0zIDMwLjY2djU0Ljg2bDQ3LjUxIDI3LjQzIDQ3LjUxLTI3LjQzVjMwLjY2TDUwLjUxIDMuMjN6TTM5LjU5IDc2LjlWMzkuMjdsMzIuNTggMTguODJ6IiBmaWxsPSIjZmZkZTE3Ii8+PHBhdGggZD0iTTEwMC4yNyAyOC40OUw1MS4yNi4yYTEuNDkgMS40OSAwIDAgMC0xLjUgMEwuNzUgMjguNDlhMS41MiAxLjUyIDAgMCAwLS43NSAxLjN2NTYuNTlhMS41MSAxLjUxIDAgMCAwIC43NSAxLjNsNDkgMjguM2ExLjUxIDEuNTEgMCAwIDAgMS41IDBsNDktMjguM2ExLjUxIDEuNTEgMCAwIDAgLjc1LTEuM1YyOS43OWExLjUyIDEuNTIgMCAwIDAtLjczLTEuM3ptLTIuMjUgNTdsLTQ3LjUxIDI3LjQ2TDMgODUuNTJWMzAuNjZMNTAuNTEgMy4yM2w0Ny41MSAyNy40M3oiIGZpbGw9IiMzMjMyMzIiLz48cGF0aCBmaWxsPSIjMzIzMjMyIiBkPSJNMzkuNTggNzYuOTFsMzIuNTktMTguODItMzIuNTktMTguODF2MzcuNjN6Ii8+PC9zdmc+")!important;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
